## different types of print statements

**print()** keyword is used to print a message encountered in double quotes

In [4]:
print("start learning python")

start learning python

## using **sep** keyword

**sep keyword** is to format the printed statements in output screen

In [5]:

print("this","notebook", "contains", "python", "basics")

this notebook contains python basics

In [18]:
#comma seperated 
print("this","notebook", "contains", "python", "basics" ,sep=",")
print()
# \n is used to print newline
print("this","notebook", "contains", "python", "basics" ,sep="\n")

this,notebook,contains,python,basics

this
notebook
contains
python
basics

In [13]:
# In python print statement ends with a new line
a = 10 
b = 20
print(a)
print(b)

10
20

## using  **end** keyword

 we use **end keyword** to sepecify with which parameter a print statement should end

In [20]:


#print statement ends with a space
a = 10 
b = 20
print(a , end = " ")
print(b)

#print statement ending with $ symbol
a = 10 
b = 20
print(a , end = " $ ")
print(b)

10 20
10 $ 20

## python .format() method

 **format()** method formats the  value and insert them inside the string's placeholder.
The placeholder is defined using curly brackets {}..

In [34]:
name = "prasanna"
study = "b_tech"
print( "{} is studying {}".format(name,study))

prasanna is studying b_tech

###### using positional index

In [36]:
print("qualified students are {0},{2}".format("prasanna","neha", "sneha"))

qualified students are prasanna,sneha

In [37]:
print("The 3{r}, 4{t} and 5{t} ranks are winners".format(r='rd',t='th'))

The 3rd, 4th and 5th ranks are winners

## using %

In [ ]:
tup = (1,2,3)
2is is a tuple %s" % (tup, ))